.LogoSearch {
    display: flex;
    justify-content: center; /* Centering the content horizontally */
    align-items: center; /* Centering the content vertically */
    height: 80px; /* Setting a fixed height */
  }
  
  .Search {
    display: flex;
    align-items: center; /* Centering the items vertically */
    background-color: #f3f3f3; /* Light gray background */
    border-radius: 20px; /* Increased border radius for a rounded look */
    padding: 8px 12px; /* Increased padding */
    width: 300px; /* Fixed width */
  }
  
  .Search > input {
    flex: 1; /* Allow input to take remaining space */
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 10px; /* Added some space between input and icon */
    font-size: 16px; /* Increased font size */
  }
  
  .s-icon {
    background: linear-gradient(106.23deg, #f99827 0%, #f95f35 100%);
    border-radius: 50%; /* Making it a circle */
    padding: 10px; /* Increased padding */
    color: white;
    cursor: pointer; /* Adding pointer cursor */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  .s-icon:hover {
    background-color: #f95f35; /* Darker background color on hover */
  }
  